#app > #embed.bento {
    #header {
        background-color: $surrounding-bg-color;
        color: $question-font-color;

        #question {
            color: $question-font-color;
            font-family: 'ORF ON Head';
            font-style: italic;
            font-weight: 500;
            font-size: 20px;
            line-height: 22px;
            overflow: visible !important;
        }
    }

    #poll-body {
        background-color: $bg-color;
        #answers {
            margin-top: 10px;
            margin-bottom: 10px;
        }
        .answer {
            background-color: $bar-not-voted-bg !important;
            color: $dark-font;
            font-family: 'ORF ON Head';
            font-weight: 700;
            font-style: italic;
            &:hover {
                color: $font-on-ci-color;
                background-color: $ci-color !important;
            }
            &:after {
                border-color: $ci-color;
            }
        }
    }

    footer {
        background-color: $surrounding-bg-color;
        height: 40px;
        .powered {
            display: none;
        }
        .legal {
            display: none;
        }
    }

    #undisclosed-result{
        background-color: transparent !important;

        font-family: 'ORF ON' !important;
        h2, p {
            font-family: 'ORF ON' !important;
        }

        .userpic {
            display: none;
        }
    }

    #post-voted-answer-block {
        #lead-form {
            font-family: 'ORF ON' !important;
            background-color: $soft-bg-color !important;

            .post-vote-header {
                background-color: $ci-color;
                color: $font-on-ci-color;
                padding: 10px 20px;
            }
            form {
                background-color: transparent !important;
                font-family: 'ORF ON' !important;
                color: $dark-font !important;
                .form-row {
                    flex-wrap: wrap;
                }
                .label-side, .input-side {
                    width: 100%;
                    margin-bottom: 5px;
                }
                .input-side {
                    margin-bottom: 10px;
                    input, textarea {
                        background-color: white !important;
                    }
                }
                button {
                    background-color: $ci-color !important;
                    color: $font-on-ci-color !important;
                    &:hover {
                        color: $font-on-ci-color !important;
                        background-color: $ci-color !important;
                    }
                }
            }
        }
        #user-logo {
            display: none;
        }
        #vote-form {
            background-color: transparent !important;
        }
    }
}