#app > #embed.bento {
    #header {
        background-color: $surrounding-background;
        color: $surrounding-font-color;

        #question {
            color: $question-font-color;
            font: $question-font;
            line-height: $question-line-height;
            overflow: visible !important;
        }
    }

    #poll-body {
        background-color: $bg-color;
        #answers {
            margin-top: 10px;
            margin-bottom: 10px;
        }
        .answer {
            background-color: $answer-background-unvoted !important;
            color: $answer-font-color-unvoted;
            font: $answer-font;
            &:hover {
                color: $answer-font-color-hover;
                background-color: $answer-background-hover !important;
            }
            &:after {
                border-color: $ci-color;
            }
            .answer-text {
                margin: auto;
                text-align: center;
            }
        }
        .answer.result-mode {
            color: $answer-font-color-voted;
            background-color: rgba($answer-background-voted, 0.5);

        }
        .percent-count {
            padding-top: 5px;
            font: $result-percent-font;
        }
        .votes-count {
            padding-top: 5px;
            xfont-size: result-votes-font-size;
            font: $result-votes-font;
        }
    }

    footer {
        background-color: $surrounding-background;
        height: 40px;
        .powered {
            display: none;
        }
        .legal {
            display: none;
        }
    }

    #undisclosed-result{
        background-color: transparent !important;

        font-family: 'ORF ON' !important;
        h2, p {
            font-family: 'ORF ON' !important;
        }

        .userpic {
            display: none;
        }
    }

    #post-voted-answer-block {
        #lead-form {
            font-family: 'ORF ON' !important;
            background-color: $soft-bg-color !important;

            .post-vote-header {
                background-color: $ci-color;
                color: $font-on-ci-color;
                padding: 10px 20px;
            }
            form {
                background-color: transparent !important;
                font-family: 'ORF ON' !important;
                color: $dark-font !important;
                .form-row {
                    flex-wrap: wrap;
                }
                .label-side, .input-side {
                    width: 100%;
                    margin-bottom: 5px;
                }
                .input-side {
                    margin-bottom: 10px;
                    input, textarea {
                        background-color: white !important;
                    }
                }
                button {
                    background-color: $ci-color !important;
                    color: $font-on-ci-color !important;
                    &:hover {
                        color: $font-on-ci-color !important;
                        background-color: $ci-color !important;
                    }
                }
            }
        }
        #user-logo {
            display: none;
        }
        #vote-form {
            background-color: transparent !important;
        }
    }
}
