@import "_fonts.scss";
@import "_defaults.scss";
@import "_quiz.scss";
@import "_bento.scss";

body {
    user-select: auto;
}

#app, #app #embed #poll {
   background-color: transparent !important;
}

#app > .classic,
#app > .quiz,
#app > .slides {
   background-color: transparent !important;

   #lead-form {
      font-family: 'ORF ON';
      background-color: $ci-color !important;
      #user-logo {
         display: none;
      }
      form.user-accent-bg.user-font-fill {
         background-color: transparent !important;
      }
      form.user-accent-bg.user-font-fill button[type="submit"] {
         color: white !important;
         background-color: black !important;
      }
      #pre-vote-description {
         margin-top: 25px;
      }
   }


   // quiz has #embed below parent selector, so duplicate the rule
   &#embed:not(.answer-button), #embed:not(.answer-button) {
      background-color: $bg-color !important;
   }


   #poll {
      footer .powered  {
         display: none;
      }
      .image-copyright {
         right: 1em;
         color: $font-on-ci-color;
         /*bottom: 3.4em;*/
         text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.6);
         font-family: 'ORF ON';
      }
   }

   &#embed, #embed {
      #undisclosed-result {
         background-color: #eaeaea !important;
         color: $dark-font !important;
         font-family: 'ORF ON';

         .userpic {
            display: none !important;
         }
      }
      .overlay .content {
         background-color: $overlay-bg;
         padding: 10px;
         font-family: 'ORF ON Head';
         font-weight: 700;
         font-style: italic;
         div {
            color: $font-on-accent-bar-color;
            font-family: 'ORF ON';
            &.title {
               font-family: 'ORF ON Head';
               font-weight: 700;
               font-style: italic;
               margin-bottom: 15px;
            }
         }
         button.btn-go-back,
         button.verification-btn, button.verification-btn:disabled,
         button.code-send-btn, button.code-send-btn:disabled {
            background-color: grey !important;
         }
         button {
            background-color: $ci-color !important;
            color: $dark-font !important;
         }
      }
      footer {
         min-height: 2.5em !important;
         background-color: $surrounding-bg-color !important;
         .legal > *, #total-result {
            display: none !important;
         }
      }
   }

   #poll {
      #header {
         padding: 9px 0px 0px 20px;
         text-align: left;
         font-family: 'ORF ON Head' !important;
         font-weight: 700;
         font-style: italic;
         color: $font-on-ci-color;
         background-color: $surrounding-bg-color !important;
         #question {
            color: $question-font-color;
            font-size: 20px;
            font-family: 'ORF ON Head';
            font-weight: 700;
            font-style: italic;
            overflow: visible !important;
         }
      }
      .answer .text {
         font-family: 'ORF ON Head';
         font-style: italic;
         font-weight: 700;
         overflow: visible !important;
      }
      #poll-body {
         .answer {
            opacity: 0.7;
            color: $dark-font;
            &:not(.result-mode) {
               background-color: $bar-background-unvoted;
               &:hover {
                  background-color: $ci-color !important;
                  color: $font-on-ci-color !important;
                  opacity: 1;
               }
            }
            &.result-mode {
               opacity: 1;
               .result-bar {
                  background-color: $bar-color !important;
               }
               &.voted-on {
                  color: $dark-font !important;
                  opacity: 1;
                  .result-bar {
                     background-color: $ci-color !important;
                  }
               }
            }
         }
         &.classic .answer {
            .votes-count {
               line-height: 1.65em;
            }
            margin-bottom: 7px;
            .text {
               font-size: 16px;
            }
            background-color: $bar-background-unvoted;
            .percent-count, .votes-count {
               font-family: 'ORF ON Head';
               font-weight: 700;
               font-style: italic;
            }
            .percent-count {
               font-size: 20px;
            }
         }
         &.slides .answer {
            opacity: 1;
            .content-container .text-content {
               font-family: 'ORF ON Head';
               font-weight: 700;
               font-style: italic;
               font-size: 40px;
               transition: none;
               opacity: 1 !important;
            }
            .top-bar {
               background-color: $ci-color;
               color: $font-on-ci-color;
            }
            .top-bar .text, .content-container .text-content {
               font-size: 25px;
               color: white;
               text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.8);
            }
            &:hover {
               .top-bar .text, .content-container .text-content {
               color: white;
               text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.8);
               }
            }
            &:not(.result-mode) {
               opacity: 1;
            }
            &:hover .content-container .text-content {
               text-shadow: 0px 0px 5px rgba(255, 255, 255, 0.8);
               color: black;
            }
            &:not(.result-mode) .content-container .text-content {
               background-color: transparent;
               text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.8);
               color: white;
            }
            &.result-mode {
               .top-bar .text {
               font-family: 'ORF ON Head';
               font-weight: 700;
               font-style: italic;
               text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.8);
               color: white;
               }
               .content-container .text-content {
               background-color: transparent !important;
               }
            }
            .content-container .text-content {
               font-family: 'ORF ON Head';
               font-weight: 700;
               font-style: italic;
               font-size: 32px !important;
               line-height: 35px;
               opacity: 1;
            }
         }
      }
   }

   @media (min-width: 550px) {
      #poll #poll-body {
         padding-left: 3em;
         padding-right: 3em;
      }
   }

   @media (min-width: 550px) {
      #poll #poll-body .answer {
      padding-left: 2em;
      padding-right: 2em;
      }
   }

   /* classic */

   @media (max-width: 550px) {
      #poll #poll-body.classic .answer .percent-count {
      font-size: 15px;
      }
   }

   /* slides */

   /* head-to-head */
   /* there is no head-to-head layout in new embed (replaced with slides), need to be applied as special design */

   @media (max-width: 550px) {
      #poll #poll-body.slides .answer .content-container .text-content {
      font-size: 20px;
      }
   }

   #poll #header #user-logo {
      display: none;
   }

   /* answer stand alone */

   &#embed.answer-button #answer {
      > img {
      display: none;
      }
      .button-container {
         font-family: 'ORF ON';
      }
   }
}
