
/* quiz */

#quiz .quiz-bar .bar-elem {
    background: $bg-color;
    border-bottom-color: $bg-color;
    &.correct {
        background: $quiz-correct !important;
        border-bottom-color: $quiz-correct;
    }
    &.wrong {
    background: $quiz-wrong !important;
    border-bottom-color: $quiz-wrong;
    }
}

#poll-body.classic.quiz-mode .answer.result-mode {
    &.correct .result-bar, &.wrong .result-bar {
    background-color: white !important;
    }
}

.quiz-slider {

    .quiz-feedback {

        .feedback-result {
            &.correct {
            color: $quiz-correct !important;
            }
            &.wrong {
            color: $quiz-wrong !important;
            }
        }
        .feedback-title {
            font-family: 'ORF ON Head';
            color: black;
            margin: 10px 0px;
        }
        .feedback-text {
            font-family: 'ORF ON';
            font-size: 13px;
            margin-left: 6%;
            width: 80%;
        }

    }

    .quiz-score {
        width: 80%;
        .quiz-score-header {
            font-family: 'ORF ON Head';
        }
        .quiz-score-feedback, .quiz-score-hint {
            font-family: 'ORF ON';
        }
    }
}

#poll-body.classic.quiz-mode .answer.result-mode.voted-on .result-bar {
    background-color: $progress-default-color !important;
}

.quiz-slider .action-buttons {
    width: 80%;
    button,
    button > span.user-accent-bg {
        font-family: 'ORF ON';
        color: $font-on-ci-color !important;
        background-color: $accent-bar-color !important;
    }
}