/** 18-06-2019 1 **/

$bg-color: #C7C7C7;
$second-ci-color: #CF0000;
$surrounding-bg-color: #88AC4C;
$question-font-color: white;
$dark-font: black;
$soft-bg-color: #eaeaea;
$bar-not-voted-bg: rgba(255,255,255,0.72);
$ci-color: #CF0000;
$bar-color: white;
$accent-bar-color: $ci-color;
$font-on-accent-bar-color: white;
$font-on-ci-color:white;
$quiz-correct: #151b15;
$quiz-wrong: #d54d4d;
$progress-default-color: $ci-color;
$overlay-bg: rgba(0, 0, 0, 0.8);

@import "_pinpoll.scss";