/** 13-01-2019 1 **/
$bg-color: #D6DCDE;
$second-ci-color: #008456;
$surrounding-bg-color: #005F3B;
$question-font-color: white;
$dark-font: black;
$soft-bg-color: rgba(255, 255, 255, 0.72);
$bar-not-voted-bg: rgba(255,255,255,0.72);
$ci-color: #008456;
$bar-color: white;
$accent-bar-color: $ci-color;
$font-on-accent-bar-color: white;
$font-on-ci-color:white;
$quiz-correct: #151b15;
$quiz-wrong: #d54d4d;
$progress-default-color: $ci-color;
$overlay-bg: rgba(0, 0, 0, 0.8);

@import "scss/_pinpoll.scss";